In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('../Data/Aviation_Data.csv', parse_dates=['Event.Date', 'Publication.Date'])

/home/dreampy/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Airline Data

In [3]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,1980-04-16

In [4]:
df.tail(10)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
90338,20221219106472,Accident,DCA23LA096,2022-12-18,"Kahului, HI",United States,NaN,NaN,NaN,NaN,...,NaN,HAWAIIAN AIRLINES INC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
90339,20221219106477,Accident,WPR23LA071,2022-12-18,"San Manual, AZ",United States,NaN,NaN,NaN,NaN,...,Personal,Chandler Air Service,0.0,0.0,0.0,3.0,NaN,NaN,NaN,2022-12-20
90340,20221221106483,Accident,CEN23LA067,2022-12-21,"Auburn Hills, MI",United States,NaN,NaN,NaN,NaN,...,Personal,Pilot,0.0,1.0,0.0,0.0,NaN,NaN,NaN,2022-12-22
90341,20221222106486,Accident,CEN23LA068,2022-12-21,"Reserve, LA",United States,NaN,NaN,NaN,NaN,...,Instructional,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,2022-12-27
90342,20221228106502,Accident,GAA23WA046,2022-12-22,"Brasnorte,",Brazil,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,2022-12-28
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,2022-12-29
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,2022-12-27
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,2022-12-30

In [5]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [6]:
df.describe(datetime_is_numeric=True)

,Event.Date,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Publication.Date
count,88889,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000,73659
mean,1999-09-17 17:13:39.354475904,1.146585,0.647855,0.279881,0.357061,5.325440,2004-05-01 19:38:20.932676224
min,1948-10-24 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,1980-04-16 00:00:00
25%,1989-01-15 00:00:00,1.000000,0.000000,0.000000,0.000000,0.000000,1993-09-14 00:00:00
50%,1998-07-18 00:00:00,1.000000,0.000000,0.000000,0.000000,1.000000,2001-10-07 00:00:00
75%,2009-07-01 00:00:00,1.000000,0.000000,0.000000,0.000000,2.000000,2020-09-25 00:00:00
max,2022-12-29 00:00:00,8.000000,349.000000,161.000000,380.000000,699.000000,2022-12-30 00:00:00
std,NaN,0.446510,5.485960,1.544084,2.235625,27.913634,NaN

In [7]:
df['FAR.Description'].value_counts()

091                               18221
Part 91: General Aviation          6486
NUSN                               1584
NUSC                               1013
137                                1010
135                                 746
121                                 679
Part 137: Agricultural              437
UNK                                 371
Part 135: Air Taxi & Commuter       298
PUBU                                253
129                                 246
Part 121: Air Carrier               165
133                                 107
Part 129: Foreign                   100
Non-U.S., Non-Commercial             97
Non-U.S., Commercial                 93
Part 133: Rotorcraft Ext. Load       32
Unknown                              22
Public Use                           19
091K                                 14
ARMF                                  8
125                                   5
Part 125: 20+ Pax,6000+ lbs           5
107                                   4
103                                   2
Public Aircraft                       2
Part 91 Subpart K: Fractional         1
437                                   1
Part 91F: Special Flt Ops.            1
Armed Forces                          1
Name: FAR.Description, dtype: int64

In [8]:
df['Injury.Severity'].value_counts()

Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(31)         1
Fatal(56)         1
Fatal(55)         1
Fatal(145)        1
Fatal(33)         1
Name: Injury.Severity, Length: 109, dtype: int64

In [9]:
df.columns = df.columns.str.lower()

In [10]:
df.columns

Index(['event.id', 'investigation.type', 'accident.number', 'event.date',
       'location', 'country', 'latitude', 'longitude', 'airport.code',
       'airport.name', 'injury.severity', 'aircraft.damage',
       'aircraft.category', 'registration.number', 'make', 'model',
       'amateur.built', 'number.of.engines', 'engine.type', 'far.description',
       'schedule', 'purpose.of.flight', 'air.carrier', 'total.fatal.injuries',
       'total.serious.injuries', 'total.minor.injuries', 'total.uninjured',
       'weather.condition', 'broad.phase.of.flight', 'report.status',
       'publication.date'],
      dtype='object')

In [11]:
df.head()

,event.id,investigation.type,accident.number,event.date,location,country,latitude,longitude,airport.code,airport.name,...,purpose.of.flight,air.carrier,total.fatal.injuries,total.serious.injuries,total.minor.injuries,total.uninjured,weather.condition,broad.phase.of.flight,report.status,publication.date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,1980-04-16

In [12]:
df.info

<bound method DataFrame.info of              event.id investigation.type accident.number event.date  \
0      20001218X45444           Accident      SEA87LA080 1948-10-24
1      20001218X45447           Accident      LAX94LA336 1962-07-19
2      20061025X01555           Accident      NYC07LA005 1974-08-30
3      20001218X45448           Accident      LAX96LA321 1977-06-19
4      20041105X01764           Accident      CHI79FA064 1979-08-02
...               ...                ...             ...        ...
90343  20221227106491           Accident      ERA23LA093 2022-12-26
90344  20221227106494           Accident      ERA23LA095 2022-12-26
90345  20221227106497           Accident      WPR23LA075 2022-12-26
90346  20221227106498           Accident      WPR23LA076 2022-12-26
90347  20221230106513           Accident      ERA23LA097 2022-12-29

              location        country latitude longitude airport.code  \
0      MOOSE CREEK, ID  United States      NaN       NaN          NaN
1       BRIDGEPORT, CA  United States      NaN       NaN          NaN
2        Saltville, VA  United States  36.9222  -81.8781          NaN
3           EUREKA, CA  United States      NaN       NaN          NaN
4           Canton, OH  United States      NaN       NaN          NaN
...                ...            ...      ...       ...          ...
90343    Annapolis, MD  United States      NaN       NaN          NaN
90344      Hampton, NH  United States      NaN       NaN          NaN
90345       Payson, AZ  United States  341525N  1112021W          PAN
90346       Morgan, UT  United States      NaN       NaN          NaN
90347       Athens, GA  United States      NaN       NaN          NaN

      airport.name  ... purpose.of.flight         air.carrier  \
0              NaN  ...          Personal                 NaN
1              NaN  ...          Personal                 NaN
2              NaN  ...          Personal                 NaN
3              NaN  ...          Personal                 NaN
4              NaN  ...          Personal                 NaN
...            ...  ...               ...                 ...
90343          NaN  ...          Personal                 NaN
90344          NaN  ...               NaN                 NaN
90345       PAYSON  ...          Personal                 NaN
90346          NaN  ...          Personal  MC CESSNA 210N LLC
90347          NaN  ...          Personal                 NaN

      total.fatal.injuries total.serious.injuries total.minor.injuries  \
0                      2.0                    0.0                  0.0
1                      4.0                    0.0                  0.0
2                      3.0                    NaN                  NaN
3                      2.0                    0.0                  0.0
4                      1.0                    2.0                  NaN
...                    ...                    ...                  ...
90343                  0.0                    1.0                  0.0
90344                  0.0                    0.0                  0.0
90345                  0.0                    0.0                  0.0
90346                  0.0                    0.0                  0.0
90347                  0.0                    1.0                  0.0

      total.uninjured weather.condition  broad.phase.of.flight  \
0                 0.0               UNK                 Cruise
1                 0.0               UNK                Unknown
2                 NaN               IMC                 Cruise
3                 0.0               IMC                 Cruise
4                 0.0               VMC               Approach
...               ...               ...                    ...
90343             0.0               NaN                    NaN
90344             0.0               NaN                    NaN
90345             1.0               VMC                    NaN
90346             0.0               NaN                    NaN
90347             1.0               NaN                    NaN

        report.status publication.date
0      Probable Cause              NaT
1      Probable Cause       1996-09-19
2      Probable Cause       2007-02-26
3      Probable Cause       2000-12-09
4      Probable Cause       1980-04-16
...               ...              ...
90343             NaN       2022-12-29
90344             NaN              NaT
90345             NaN       2022-12-27
90346             NaN              NaT
90347             NaN       2022-12-30

[90348 rows x 31 columns]>

In [13]:
df_subset = df[['event.date', 'investigation.type', 'location', 'country', 'airport.code', 
                'injury.severity', 'aircraft.damage', 'aircraft.category', 'make', 'model', 
                'amateur.built', 'number.of.engines', 'engine.type', 'far.description', 'schedule',
                'purpose.of.flight', 'total.fatal.injuries', 'total.minor.injuries', 'total.uninjured', 
                'weather.condition', 'broad.phase.of.flight', 'report.status']]

In [14]:
df_subset

,event.date,investigation.type,location,country,airport.code,injury.severity,aircraft.damage,aircraft.category,make,model,...,engine.type,far.description,schedule,purpose.of.flight,total.fatal.injuries,total.minor.injuries,total.uninjured,weather.condition,broad.phase.of.flight,report.status
0,1948-10-24,Accident,"MOOSE CREEK, ID",United States,NaN,Fatal(2),Destroyed,NaN,Stinson,108-3,...,Reciprocating,NaN,NaN,Personal,2.0,0.0,0.0,UNK,Cruise,Probable Cause
1,1962-07-19,Accident,"BRIDGEPORT, CA",United States,NaN,Fatal(4),Destroyed,NaN,Piper,PA24-180,...,Reciprocating,NaN,NaN,Personal,4.0,0.0,0.0,UNK,Unknown,Probable Cause
2,1974-08-30,Accident,"Saltville, VA",United States,NaN,Fatal(3),Destroyed,NaN,Cessna,172M,...,Reciprocating,NaN,NaN,Personal,3.0,NaN,NaN,IMC,Cruise,Probable Cause
3,1977-06-19,Accident,"EUREKA, CA",United States,NaN,Fatal(2),Destroyed,NaN,Rockwell,112,...,Reciprocating,NaN,NaN,Personal,2.0,0.0,0.0,IMC,Cruise,Probable Cause
4,1979-08-02,Accident,"Canton, OH",United States,NaN,Fatal(1),Destroyed,NaN,Cessna,501,...,NaN,NaN,NaN,Personal,1.0,NaN,0.0,VMC,Approach,Probable Cause
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,2022-12-26,Accident,"Annapolis, MD",United States,NaN,Minor,NaN,NaN,PIPER,PA-28-151,...,NaN,091,NaN,Personal,0.0,0.0,0.0,NaN,NaN,NaN
90344,2022-12-26,Accident,"Hampton, NH",United States,NaN,NaN,NaN,NaN,BELLANCA,7ECA,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
90345,2022-12-26,Accident,"Payson, AZ",United States,PAN,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,...,NaN,091,NaN,Personal,0.0,0.0,1.0,VMC,NaN,NaN
90346,2022-12-26,Accident,"Morgan, UT",United States,NaN,NaN,NaN,NaN,CESSNA,210N,...,NaN,091,NaN,Personal,0.0,0.0,0.0,NaN,NaN,NaN
90347,2022-12-29,Accident,"Athens, GA",United States,NaN,Minor,NaN,NaN,PIPER,PA-24-260,...,NaN,091,NaN,Personal,0.0,0.0,1.0,NaN,NaN,NaN

In [15]:
df_subset.shape

(90348, 22)

In [16]:
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   event.date             88889 non-null  datetime64[ns]
 1   investigation.type     90348 non-null  object
 2   location               88837 non-null  object
 3   country                88663 non-null  object
 4   airport.code           50249 non-null  object
 5   injury.severity        87889 non-null  object
 6   aircraft.damage        85695 non-null  object
 7   aircraft.category      32287 non-null  object
 8   make                   88826 non-null  object
 9   model                  88797 non-null  object
 10  amateur.built          88787 non-null  object
 11  number.of.engines      82805 non-null  float64
 12  engine.type            81812 non-null  object
 13  far.description        32023 non-null  object
 14  schedule               12582 non-null  object
 15  purpose.of.flight      82697 non-null  object
 16  total.fatal.injuries   77488 non-null  float64
 17  total.minor.injuries   76956 non-null  float64
 18  total.uninjured        82977 non-null  float64
 19  weather.condition      84397 non-null  object
 20  broad.phase.of.flight  61724 non-null  object
 21  report.status          82508 non-null  object
dtypes: datetime64[ns](1), float64(4), object(17)
memory usage: 15.2+ MB